body {
  overflow-x: hidden;
}

.thumbnail-images {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
}


.main-image img {
  width: 800px;
  height: 430px;
  display: block;
  margin: 0 auto;
}

.slider-container {
  position: relative;
  margin-top: 30px;
}

.thumbnail-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.thumbnail.active {
  border-color: #007bff;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  font-size: 24px;
  cursor: pointer;
}

/* Media Queries =========> */
@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 60px;
    height: 60px;
  }

  .arrows {
    position: static;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    width: 60px;
    height: 60px;
  }

  .main-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }


  .arrows {
    position: static;
    margin-top: 10px;
    color: black;
  }
}