/* Default styles */
.main-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
  }
  .discount-button {
    background-color: red;
    color: white;
    width: 135px;
    height: 20px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    margin-top: 10px;

  }
  
  .discount-button:hover {
    background-color: #57151a;
  }
  .main-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid rgb(212, 209, 209);
    align-items: center;
    width: 80%; /* Adjust the width as needed */
    max-width: 800px;
    border-radius: 3px;
    margin: 0 auto; /* Center the section on the page */
    padding: 10px; /* Add some padding for better spacing */
  }
  
  .main-section-left-part {
    font-size: 20px;
    border-radius: 3px;
   
  
  }
  .main-section-left-part span{
    font-size: 15px;
  }
  
  .main-section-left-part p {
    font-weight: 500;
    color: black;
  }
  
  .main-section-left-part label {
    color: gold;
  }
  
  .book-button {
    background-color: #1851ab;
    color: white;
    width: 135px;
    height: 35px;
    cursor: pointer;
    border: none;
    margin-top: 10px;

  }
  
  .book-button:hover {
    background-color: #84c3e7;
  }
  .main-section-right-part{
    margin-left: 1rem;
  }
  .old-price {
    text-decoration: line-through;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .new-price {
    font-size: 25px;
    color: red;
  }
  
  /* Responsive Design */
  
  @media screen and (max-width: 600px) {
    /* Styles for small screens (e.g., mobile phones) */
    .main-part {
      flex-direction: column;
      align-items: center;
    }
  
    .main-section {
      width: 90%; /* Adjust the width as needed */
    }
  
    .main-section-left-part {
      text-align: center;

  }
  .main-section-right-part{
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
  }
}
  
  @media screen and (min-width: 601px) and (max-width: 900px) {
    /* Styles for medium screens (e.g., tablets) */
    .main-section {
      flex-direction: column;
      align-items: center;
    }
  
    .main-section-left-part {
      text-align: center;
   
    }
  }
  